.mySwiper {
  margin-top: 16px;
  width: 445px;
  height: 100px;
}
.mySwiper img {
  height: 86px;
}
.mySwiper2 {
  margin-top: 0;
  width: 445px;
  height: 594px;
}
.mySwiper2 img {
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  height: 100%;
}
.mobile_sliderbig {
  display: none !important;
}
@media (max-width: 768px) {
  .mySwiper2 {
    display: block;
  }
  .mySwiper2 img {
    height: 198px;
  }
  .mobile_sliderbig {
    margin-left: 0 !important;
    margin-right: 32px !important;
    display: block !important;
    height: 238px;
    width: 136px;
  }
  .mobile_sliderbig span {
    background: black;
  }
}
@media (max-width: 320px) {
  .mySwiper2 img {
    height: 260px;
  }
  .mobile_sliderbig {
    margin-bottom: 16px;
    margin-left: 0 !important;
    margin-right: 0px !important;
    display: block !important;
    height: 300px;
    width: 188px;
  }
}
