.MainPage {
  height: 100%;
}
.content_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.books_wrap {
  height: 100%;
  width: 825px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 24px;
}
.column {
  flex-direction: column;
}
.warning {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #a7a7a7;
}
.center {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .MainPage {
    height: 100%;
  }
  .content_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .books_wrap {
    width: 640px;
    column-gap: 35px;
    row-gap: 32px;
  }
}
@media (max-width: 320px) {
  .MainPage {
    height: 100%;
  }
  .content_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .books_wrap {
    height: 100%;
    width: 288px;
    column-gap: 35px;
    row-gap: 32px;
  }
  .warning {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}
